
img {
    opacity: 0.9;
    filter: alpha(opacity=2); /* For IE8 and earlier */
    margin: 0%;
     
   
}
.container{
   text-align: center;
    margin-top: 10%;
    
}
img{

    font-size: 150px;
    
}
              

