 <article class="card">
    <figure>
        <img rel="preload" as="image" width="300" height="300" [src]="restaurant.image" [alt]="restaurant.name" />
    </figure>

<div class="card__details">
    <h3>{{restaurant.name}}</h3>
    <ul class="card__list">
        <li>
            <label class="table__label"></label>
            {{restaurant.description}}
        </li>
        <li>
            <label class="table__label">Precio:</label>
            {{restaurant.price}}
        </li>

    </ul>
</div>
</article> 